{% extends "a/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="p-3 shadow-sm bg-white rounded mb-3">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h3 class="">Select make to change</h3>
            <a href="{% url 'make-create' %}" class="btn btn-outline-secondary">Add Make <i class="fa-solid fa-plus"></i></a>
        </div>
        <hr>
        {% for make in makes %}
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6><a href="{% url 'make-update' make.id %}" style="color: rgb(0, 0, 243);" >{{ make }}</a></h6>
                <div class="actions">
                    <a href="{% url 'make-delete' make.id %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</article>


{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}


{% endblock content %}