{% extends "a/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 mt-4">Make</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-2">
                <a href="" class="btn btn-outline-secondary text-black mt-2">Save and add another</a>
                <button class="btn btn-primary mt-2" type="submit">Save</button>
                <a href="{% url 'setup' %}" style="float: right;" class="btn btn-outline-secondary" type="submit">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}