{% extends "a/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="p-3 shadow-sm bg-white rounded mb-3">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h3 class="">Select option to change</h3>
            <a href="{% url 'option-create' %}" class="btn btn-outline-secondary">Add Option <i class="fa-solid fa-plus"></i></a>
        </div>
        <hr>
        {% for option in options %}
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6><a href="{% url 'option-update' option.id %}" style="color: rgb(0, 0, 243);" >{{ option }}</a></h6>
                <div class="actions">
                    <a href="{% url 'option-delete' option.id %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</article>
{% endblock content %}