{% extends 'base/base.html' %} {% load static %} {% block content%}
<!-- <nav aria-label=" mt-1 mb-1 breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search - {{ city }}</li>
    </ol>
</nav> -->
<div class="home pt-5">
    <section class="section" id="new">
        <div class="row">
            {%block filter%}{%endblock%}
            <div class="col-md-9 mb-3">
                <div class="row">
                    <div class="col-md-12 card bg-light mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <small>Pick Up</small>
                                <p>{{ city }}, {{ state }} - {{date_start}}</p>
                            </div>
                            <div class="col-md-6">
                                <small>Drop of</small>
                                <p>{{ city }}, {{ state }} - {{date_end}}</p>
                            </div>
                        </div>

                    </div>
                    <section>
                        {% block search_content %} {% endblock %}
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}