{% extends 'base/base.html' %}
{% load static %}
{% block content%}
<!-- <nav aria-label=" mt-1 mb-1 breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search - {{ city }}</li>
    </ol>
</nav> -->
<div class="home pt-5">
    <section class="section" id="new">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if geocode %}
                    <div class="google-map" style="width: 100%;height: 400px;">
                        <div id="map"></div>
                    </div>
                {% else %}
                    <div class="card-body">
                        <form action="{% url 'show_all_cars' agency.id %}?city={{city}}&date-start={{date_start}}&date-end={{date_end}}" method="POST">
                            {%csrf_token%}
                            <h5>Types</h5>
                            <ul class="text-secondary">
                                {% for type in types %}
                                <li>
                                    <input class="form-check-input" type="radio" name="type" id="{{ type.id }}" value="{{ type.id }}">
                                    <label class="form-check-label" for="{{ type.id }}">
                                        {{type.name}}
                                    </label>
                                </li>
                
                                {% endfor %}
                            </ul>
                            <h5>Energy</h5>
                            <ul class="text-secondary">
                                {% for e in energy %}
                                <li>
                                    <input class="form-check-input" type="radio" name="energy" id="{{ e.id }}" value="{{ e.id }}">
                                    <label class="form-check-label" for="{{ e.id }}">
                                        {{e.name}}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                            <h5>Transmission</h5>
                            <ul class="text-secondary">
                                {% for t in transmission %}
                                <li>
                                    <input class="form-check-input" type="radio" name="transmission" id="{{ t.id }}" value="{{ t.id }}">
                                    <label class="form-check-label" for="{{ t.id }}">
                                        {{t.name}}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                            <button class="btn btn-success" type="submit">Filter</button>
                        </form>                                            
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="row">
                <div class="col-md-12 card bg-light rounded mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <small>Pick Up</small>
                            <p>{{ city }}, {{ state }} - {{date_start}}</p>
                        </div>
                        <div class="col-md-6">
                            <small>Drop of</small>
                            <p>{{ city }}, {{ state }} - {{date_end}}</p>
                        </div>
                    </div>
                    
                </div>
                <section>
                    {% block search_content %}
                    {% endblock %}
                </section>
            </div>
        </div>
    </div>
    </section>
</div>

<script src="{% static 'js/map.js' %}"></script>
{% endblock %}