{% extends 'app/search/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{agency.name}}{% endblock %}
{% block search_content %}
<section class="show-all-cars">
    <div class="card rounded shadow mb-3">
        <div class="card-body row">
            <div class="col-md-4">
                <div class="image border mb-1" style="width: 150px;">
                    <img src="{{ agency.user.image.url }}" alt="{{ agency.name }}" width="150">
                </div>
                <h5 class="mb-1">{{ agency.name }}'s cars</h5>
                <p class="text-secondary">{{ agency.bio }}</p>
            </div>
            <div class="col-md-8">
                <h5>Contact info</h5>
                <ul class="text-secondary">
                    <li class="contact_link"><span class="material-icons-round ul-icon">call</span>{{ agency.contact_phone }}</li>
                    <li class="contact_link"><span class="material-icons-round ul-icon">alternate_email</span>{{ agency.contact_email }}</li>
                    <li class="contact_link"><span class="material-icons-round ul-icon">laptop</span>{{ agency.contact_website }}</li>
                    <li class="contact_link"><span class="material-icons-round ul-icon">place</span>{{ agency.get_full_address }}</li>
                </ul>
            </div>
        </div>
    </div>
        {% if cars %}
            {% for car in cars %}
                <div class="card car-card mb-3 rounded">
                    <a href="{% url 'vehicle_details' car.id %}?date-start={{date_start}}&date-end={{date_end}}" class="explore bg-dark text-white shadow">Explore <span class="material-icons-round">navigate_next</span></a>
                    <div class="row align-items-center">
                        <div class="col-md-4"><img src="{{ car.thumbnail.image.url }}" class="card-img-top card-media" alt="{{ car.get_title }}"></div>
                        <div class="card-body col-md-5">
                            <h4>{{car.get_title}}</h4>
                            <div class="features">
                                <table class="tab text-secondary">
                                    <tr>
                                        <td>
                                            <span class="material-icons-round">airline_seat_recline_normal</span>
                                            {{car.seats}} Seats
                                        </td>
                                        <td>
                                            <span class="material-icons-round">thermostat_auto</span>
                                            {{car.transmission}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="material-icons-round">meeting_room</span>
                                            {{car.doors}} Doors
                                        </td>
                                        <td>
                                            <span class="material-icons-round">local_gas_station</span>
                                            {{car.engine}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3 card-body d-flex align-items-center justify-content-between d-md-block">
                            <h6>Rent for <strong class="text-success">{{ car.get_price }}</strong> per day.</h6>
                            <a href="{% url 'book' car.id %}?date-start={{date_start}}&date-end={{date_end}}" class="btn btn-success">Book Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="d-flex align-items-center justify-content-center">
                <img style="width: 100px;" src="{% static 'img/1140-error-flat.gif' %}" alt="404">
                
            </div>
            <br>    
            <div class="alert alert-danger" role="alert">
                <p class="text-center mb-0">No Cars!</p>
            </div>
        {% endif %}
    <section class="comments p-3 mt-3 mb-3 shadow-sm rounded bg-light">
        <h5>Comments</h5>
        <hr>
        <div style="overflow-y:scroll;" class="mb-3">
            {%for comment in comments%}
            <div class="card p-2 rounded mb-1">
                <div class="comment">
                    <div class="head d-flex align-items-center justify-content-between">
                        <span class="comment-owner text-dark">@{{comment.client.username}}</span>
                        {%if request.user.id == comment.client.id%}
                            <a class="comment-delete text-secondary" href="{%url 'delete_feedback' comment.id %}">Delete</a>
                        {%endif%}
                    </div>
                    <div class="body">
                        <p class="comment-text text-secondary m-0">{{comment.comment}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>

        <div>
            <form action="{%url 'create_feedback'%}?agency_id={{agency.id}}" method="POST">
                {%csrf_token%} {{form|crispy}}
                <button class="btn btn-outline-success mt-3 mb-3" type=" submit ">Comment</button>
            </form>
        </div>

    </section>
</section>
{% endblock %}