{% extends 'app/search/base.html' %}
{% block title %}{{agency.name}}{% endblock %}
{% block search_content %}
<section class="show-all-cars">
    <div class="card shadow mb-3">
        <div class="card-body row">
            <div class="col-md-4">
                <div class="image border mb-1" style="width: 150px;">
                    <img src="{{ agency.image.url }}" alt="{{ agency.name }}" width="150">
                </div>
                <h5 class="mb-1">{{ agency.name }}'s cars</h5>
                <p class="text-secondary">{{ agency.bio }}</p>
            </div>
            <div class="col-md-8">
                <h5>Contact info</h5>
                <ul class="text-secondary">
                    <li class="contact_link"><span class="material-icons-round ul-icon">call</span>{{ agency.contact_phone }}</li>
                    <li class="contact_link"><span class="material-icons-round ul-icon">alternate_email</span>{{ agency.contact_email }}</li>
                    <li class="contact_link"><span class="material-icons-round ul-icon">laptop</span>{{ agency.contact_website }}</li>
                    <li class="contact_link"><span class="material-icons-round ul-icon">place</span>{{ agency.get_full_address }}</li>
                </ul>
            </div>
        </div>
    </div>
        {% for car in cars %}
        <div class="card car-card mb-3">
            <a href="{% url 'vehicle_details' car.id %}" class="explore bg-dark text-white shadow">Explore <span class="material-icons-round">navigate_next</span></a>
            <div class="row align-items-center">
                <div class="col-md-4"><img src="{{ car.thumbnail.image.url }}" class="card-img-top card-media" alt="{{ car.get_title }}"></div>
                <div class="card-body col-md-5">
                    <h4>{{car.get_title}}</h4>
                    <div class="features">
                        <table class="tab text-secondary">
                            <tr>
                                <td>
                                    <span class="material-icons-round">airline_seat_recline_normal</span>
                                    {{car.seats}} Seats
                                </td>
                                <td>
                                    <span class="material-icons-round">thermostat_auto</span>
                                    {{car.transmission}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="material-icons-round">meeting_room</span>
                                    {{car.doors}} Doors
                                </td>
                                <td>
                                    <span class="material-icons-round">local_gas_station</span>
                                    {{car.engine}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-3 card-body d-flex align-items-center justify-content-between d-md-block">
                    <h6>Rent for <strong class="text-success">{{ car.price }} DZD</strong> per day.</h6>
                    <a href="#book-{{ car.id }}" class="btn btn-success">Book Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
</section>
{% endblock %}


<!-- <div class="col-md-12">
    <a href="{% url 'vehicle_details' car.id %}">
        <div class="shadow mb-3 rounded-3" >
            
            <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="text-black-50">By {{ car.owned_by.username }}</p>
            <span>{{ car.transmission }} | </span>
            <span>{{ car.doors }} doors | </span>
            <span>{{ car.seats }} seats</span>
            <br>
            <a href="#{{ v.id }}" class="btn btn-primary">Book</a>
            </div>
        </div>
    </a>
</div> -->