{% extends 'a/base.html' %}
{% block title %}Admin @{{request.user.username}}{% endblock %}
{% block content %}
<section class="mt-3 mb-3">
    <h4>Messages</h4>
    <hr>
    <div class="p-3 shadow-sm bg-white rounded mb-1">
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="fw-bold mb-0">{{m.email}}</h3>
            <span>{{m.date_added}}</span>
        </div>
        <hr>
        <p class="text-secondary">{{m.message}}</p>
    </div>
    <div class="actions d-flex align-items-center mt-2 justify-content-between">
        <a href="{% url 'v_messages' %}" class="btn btn-outline-success">Reply</a>
        <a href="{% url 'v_messages' %}" class="btn btn-outline-secondary">Return back</a>
    </div>
</section>
{% endblock %}