{% extends 'agency/base.html' %}
{% load crispy_forms_tags %}
<!-- TITLE -->
{% block title %}Update Vehicle{% endblock %}
<!-- TITLE -->

<!-- CONTENT -->
{% block content %}
<div class="container mt-3 mb-3">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="file" name="images" multiple>
        <div class="mt-3 d-flex align-items-center justify-content-between">
            <input type="submit" class="btn btn-primary" value="Save" name="submit">
            <a class="btn btn-outline-secondary" href="{% url 'dashboard' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
<!-- CONTENT -->