{% extends 'base/base.html' %}

<!-- TITLE -->
{% block title %}Delete {{ vehicle.get_title }}{% endblock %}
<!-- TITLE -->

<!-- CONTENT -->
{% block content %}
<div class="container col-9">
  <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Car {{ vehicle.get_title }} </legend>
            <h2>Are you sure you want to delete the car "{{ vehicle.get_title }}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'dashboard' %}">Cancel</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}
<!-- CONTENT -->