{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINKS -->
    <!-- GOOGLE icons  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other/google-icons.css' %}">
    <!-- GOOGLE Map  -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- bootstrap link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other/bootstrap.min.css' %}">
    <!--=== SWIPER JS & htmx====-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other/swiper-bundle.min.css' %}">
    <script src="{% static 'js/other/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/other/htmx.min.js' %}"></script>
    <script src="{% static 'js/other/htmx.min.js' %}" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
    <!-- ---- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <!-- STATIC -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- --- -->
    <title>{% block title %}{% endblock %}</title>
    
    <!-- map style -->
    <style>
        #map {height: 100%;}
    </style>
</head>
<body>

    <!-- HEADER -->
    <header>
        {% include 'base/inc/header.html' %}
    </header>
    <!-- END HEADER -->

    <!-- MANAGE BOOKING-->
    <div id="manageBooking" class="container shadow p-3">
        <div id="manageBookingHide"><span class="material-icons-round icon">close</span></div>
        <h3 class="text-primary mb-3">Manage booking</h3>
        <p class="text-secondary">If you don’t have an account, you can still manage your booking.</p>
        <hr>
        {% include 'app/booking/manage_booking.html' %}
    </div>
    <!-- END MANAGE BOOKING-->

    <!-- MAIN -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer>
        {% include 'base/inc/footer.html' %}
    </footer>
    <!-- END FOOTER -->

    <!-- JS SCRIPTS -->
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiXspovYSHLMbVuaofueCFwNVZkPKVlXg&callback=initMap&v=weekly" async></script>
    <!-- bootstrap script -->
    <script src="{% static 'js/other/bootstrap.bundle.min.js' %}"></script>
    <!-- main -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/steps.js' %}"></script>
</body>
</html>