{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINKS -->
    <!-- GOOGLE icons  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other/google-icons.css' %}">
    <!-- bootstrap link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other/bootstrap.min.css' %}">
    <!--=== SWIPER JS & htmx====-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other/swiper-bundle.min.css' %}">
    <script src="{% static 'js/other/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/other/htmx.min.js' %}"></script>
    <script src="{% static 'js/other/htmx.min.js' %}" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
    <!-- ---- -->
    
    <!-- STATIC -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- --- -->
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    <!-- HEADER -->
    <header>
        {% include 'base/inc/header.html' %}
    </header>
    <!-- END HEADER -->

    <!-- MAIN -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer>
        {% include 'base/inc/footer.html' %}
    </footer>
    <!-- END FOOTER -->

    <!-- JS SCRIPTS -->
    <!-- bootstrap script -->
    <script src="{% static 'js/steps.js' %}"></script>
    <script src="{% static 'js/other/bootstrap.bundle.min.js' %}"></script>
</body>
</html>