<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>

    <!-- HEADER -->
    {% include 'base/inc/header.html' %}
    <!-- END HEADER -->

    <!-- MAIN -->
    {% block 'content' %}
    {% endblock %}
    <!-- END MAIN -->

    <!-- FOOTER -->
    {% include 'base/inc/footer.html' %}
    <!-- END FOOTER -->

    <!-- JS SCRIPTS -->
</body>
</html>