// NAVBAR
.navbar-brand{
    letter-spacing: 5px;
    font-weight: bolder;
}
.navbar-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// MAIN
main{
    min-height: calc(100vh - 274.88px);
}
.home{
    .title{
        font-size: 50px;
    }
    .search-box{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding: .5rem;
        overflow: hidden;
        @media screen and (max-width:750px) {
            width: 100%;
        }
        .form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width:750px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;  
            }
            .control{
                display: flex;
                flex-direction: column;
                margin-right: 1rem;
                width: 100%;
                label{
                    color: #777;
                }
            }
            .btn{
                margin-top: 22px;
                @media screen and (max-width:750px) {
                    width: 60%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
.login{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width:450px) {
        width: 100%;
    }
}
// FOOTER
footer{
    margin-top: 10rem;
    padding-top: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,2,64,1) 24%, rgba(32,32,103,1) 100%);
    color: white;
    .footer__form_x{
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        margin-right: auto;
        margin-left: auto;
        input{
            flex: 1;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            border-bottom: 1px solid white;
            &::placeholder{
                color: white;
            }
        }
        input,button{
            padding: .6rem;
        }
    }
}

// manage booking
#manageBooking{
    overflow: hidden;
    background-color: white;
    z-index: 99;
    position: absolute;
    width: 80%;
    height: auto;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    &.show{
        display: block;
        top: 0;
    }
    #manageBookingHide{
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}


// Show all cars
.show-all-cars{
    .tab{
        width: 100%;
        tbody{
            display: flex;
            align-items: center;
            tr{
                display: flex;
                flex-direction: column;
            }
        }
        td{
            font-size: 15px;
            border: 5px solid transparent;
            display: flex;
            align-items: center;
            span{
                font-size: 14px;
                width: 20px;
            }
        }
    }
    .car-card{
        position: relative;
        overflow: hidden;
        .explore{
            position: absolute;
            font-weight: bold;
            width: 120px;
            font-size: 20px;
            top: 0;
            left: -120px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: .3s;
        }
        &:hover{
            background-color: #58585810;
            &>.explore{
                left: 0;
            }
        }
    }
}
.contact_link{
    display: flex;
}
.ul-icon{
    font-size: 15px;
    width: 30px;
}

.comments{
    .comment{
        .comment-owner{
            font-weight: bold;
            font-size: 15px;
            margin-right: 1.5rem;
        }
        .comment-text{font-size: 12px;}
        .comment-delete{font-size: 10px;}
    }
    label{
        display: none;
    }
}

.section{
    margin-top: 5rem;
    &__title{
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: .3s;
        text-transform: capitalize;
        color: #adb5bd!important;
        &::before{
            transition: .3s;
            content: '';
            background-color: #adb5bd;
            width: 50%;
            height: 1px;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &:hover{
        .section__title{
            color: #0d6efd!important;
            &::before{
                width: 100%;
                background-color: #0d6efd;
            }
        }
    }
}

.howitworks{
    margin-top: 7rem;
    margin-bottom: 7rem;
    .howitworks__image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        margin-right: auto;
        margin-left: auto;
        span{
            font-size: 40px;
        }
    }
}

.destinations{
    .destinations__box{
        position: relative;
        overflow: hidden;
        &:hover{
            .destinations__explore{
                right: 0;
                background-color: #fff;
            }
        }
    }
    .destinations__explore{
        width: 50%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: -100%;
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        font-size: 20px;
    }
    .destinations__mapicon{
        width: 60px;
        height: 60px;
        span{
            font-size: 45px;
        }
    }
    .destinations__state{font-size: 12px;}
}

.faq{
    .accordion-item{
        overflow: hidden;
        border: none;
    }
}



@media (max-width:766px){
    .world-banner{
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}