{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Book {{ car.get_title }}{% endblock %}
{% block content %}
<section class="p-2 mt-3 mb-3" id="orders">
    <div class="row shadow p-2">
        <div class="col-md-6">
            <div class="client">
              <h4>Client Details</h4>
              <ul>
                  <li>
                      <strong>Name: </strong>
                      <span>{{ client.get_full_name }}.</span>
                  </li>
                  <li>
                      <strong>Gender: </strong>
                      <span>{{ client.get_gender_display }}.</span>
                  </li>
                  <li>
                      <strong>Age: </strong>
                      <span>{{ client.age }}.</span>
                  </li>
                  <li>
                      <strong>Mobile: </strong>
                      <span>{{ client.mobile }}.</span>
                  </li>
                  {% if client.email %}
                    <li>
                        <strong>Email: </strong>
                        <span>{{ client.email }}.</span>
                    </li>
                  {% endif %}
                  <li>
                    <strong>Purpose: </strong>
                    <p class="text-secondary">{{ client.purpose }}.</p>
                  </li>
              </ul>
            </div>
            <div class="order mt-5">
              <h4>Booking Status 
                  {% if order.status == 'a' %}
                      <span class="badge bg-light text-info" >{{ order.get_status_display }}</span>
                  {% elif order.status == 'p' %}
                      <span class="badge bg-light text-warning" >{{ order.get_status_display }}</span>
                  {% else %}
                      <span class="badge bg-light text-danger" >{{ order.get_status_display }}</span>
                  {% endif %}
              </h4>
              {% if order.status == 'a' %}
                <div class="alert alert-success" role="alert">
                    <p class="mb-0">You can go to {{order.agency.get_full_address}} to get your car.</p>
                </div>
              {% elif order.status == 'p' %}
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">Please wait until {{order.agency.name}} accept your order.</p>
                    <p class="mb-0">Don't lose your reservation number <span class="text-warning bg-dark badge">{{ order.id }}</span> .</p>
                </div>
              {% else %}
                <div class="alert alert-danger" role="alert">
                    <p class="mb-0">You reservation refused.</p>
                </div>
              {% endif %}
            </div>
        </div>
        <div class="col-md-6">
          <h4>Reservation Details</h4>
          <h6 class="text-primary">Reservation number: <span class="text-warning bg-dark badge">{{ order.id }}</span></h6>

          <h6 class="text-primary">Date</h6>
          <div class="row bg-light">
              <div class="col-md-6">
                  <small>Pick Up</small>
                  <p class="text-secondary">{{ order.agency.get_full_address }} {{ order.date_start }}</p>
              </div>
              <div class="col-md-6">
                  <small>Drop of</small>
                  <p class="text-secondary">{{ order.agency.get_full_address }} - {{order.date_end}}</p>
              </div>
          </div>
          <br>
          <h6 class="text-primary">Vehicle</h6>
          <p class="text-success"><strong>{{ vehicle.get_title }}</strong></p>
          <img src="{{ vehicle.thumbnail.image.url }}" class="card card-img-top card-media" alt="{{ car.get_title }}">
          <br>
          <h6 class="text-primary">Price: <span class="text-success">{{order.get_price}}</span></h6>
        </div>
    </div>
  </section>
{% endblock content %}