{% extends 'agency/base.html' %}
{% load crispy_forms_tags %}
<!-- TITLE -->
{% block title %}Update {{vehicle.get_title}}{% endblock %}
<!-- TITLE -->

<!-- CONTENT -->
{% block content %}
<div class="container mt-3 mb-3">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Make</label>
        <select name="make" class="form-select" hx-get="{% url 'update_model_field' vehicle.id %}" hx-target="#model-select" hx-trigger="changed,load"> 
            {% for make in makes %}
            
            {% if make == vehicle.make %}
            <option selected value="{{make.id}}">{{make.name}}</option>
            {%else%}
            <option value="{{make.id}}">{{make.name}}</option>
            {%endif%}
            {%endfor%}
        </select> {% include 'vehicle/partials/update_model_field.html'%} 
        {{ form|crispy }}
        <!-- images -->
        {% if images %}
            <h3>Images</h3>
            <div class="row">
                {% for image in images %}
                    <div class="col-md-3">
                        <div class="card mb-1 update_car_image">
                            <a href="{% url 'vehicle_update_image' vehicle.id image.id %}" class="update_car_image_delete" title="delete this image"><span class="material-icons-round">clear</span></a>
                            <img style="width: 100%;" src="{{ image.image.url }}" alt="{{ image.vehicle.model.getModel }}">
                        </div>
                    </div>
                {%endfor%}
            </div>    
        {%endif%}
        <input type="file" name="images" multiple>
        <div class="mt-3 d-flex align-items-center justify-content-between">
            <input type="submit" class="btn btn-primary" value="Save" name="submit">
            <a class="btn btn-outline-secondary" href="{% url 'dashboard' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
<!-- CONTENT -->