body {
  font-size: .875rem;
  color: #444;
}
.sidebar {
  position: fixed;
  color: #444;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    .nav-link {
        font-weight: 500;
        color: #444;
        margin-top: 1rem;
        transition: .3s;
        display: flex;
        align-items: center;
        
        &:hover{
            margin-left: 5px;
        }
        &.active{
            color: rgb(209, 108, 108);
        }
        span{
            width: 30px;
        }
    }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}


.section_title{
    span{
        margin-right: 5px;
        font-size: 30px;
    }
}
main{
    .card-styled{
        background-color: #f1f1f1;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80px;
        color: #333;
        font-weight: bold;
        .icon{
            color: #ccc;
            text-align: center;
            font-size: 30px;
        }
    }
    table{color: #444;
    }
}