/* BASICS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border-radius: 15px;
}

img {
  max-width: 100%;
  width: 100%;
}

.form-control,
.form-select {
  border-radius: 15px;
  padding: 1rem .5rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.navbar-brand {
  letter-spacing: 5px;
  font-weight: bolder;
}

.navbar-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  min-height: calc(100vh - 274.88px);
}

.home .title {
  font-size: 50px;
}

.home .search {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.home .search .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

.home .search .control label {
  font-size: 10px;
  color: #777;
}

.home .search .control input {
  border: none;
  outline: none;
  padding: .5rem 0;
}

.home .search .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 450px) {
  .home .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-radius: 15px;
  }
}

@media (min-width: 450px) {
  .home .search {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home .box {
  margin: 20px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 50px 1fr 50px;
      grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  background: radial-gradient(#fff, #fff);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 450px) {
  .login {
    width: 100%;
  }
}

footer {
  margin-top: 5rem;
  padding-top: 1rem;
  background-color: #2a2a3b;
  color: white;
}

.show-all-cars .contact_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-all-cars .ul-icon {
  font-size: 15px;
  width: 30px;
}

.show-all-cars .tab {
  width: 100%;
}

.show-all-cars .tab tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-all-cars .tab tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-all-cars .tab td {
  font-size: 15px;
  border: 5px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-all-cars .tab td span {
  font-size: 14px;
  width: 20px;
}

.show-all-cars .car-card {
  position: relative;
  overflow: hidden;
}

.show-all-cars .car-card .explore {
  position: absolute;
  font-weight: bold;
  width: 120px;
  font-size: 20px;
  top: 0;
  left: -120px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

.show-all-cars .car-card:hover {
  background-color: #58585810;
}

.show-all-cars .car-card:hover > .explore {
  left: 0;
}
/*# sourceMappingURL=main.css.map */