/* BASICS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 238%2c 238%2c 1)'%3e%3c/rect%3e%3cpath d='M1440 0L922.55 0L1440 58z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M922.55 0L1440 58L1440 58.55L673.23 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M673.23 0L1440 58.55L1440 107.14L631.58 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M631.58 0L1440 107.14L1440 179.37L217.98000000000002 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L679.68 560L0 487.26z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 487.26L679.68 560L891.39 560L0 286.15z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 286.15L891.39 560L1021.28 560L0 181.15999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 181.15999999999997L1021.28 560L1109.84 560L0 67.80999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1, h2, h3, h4, h5, h6 {
  color: #444444 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border-radius: 15px;
}

img {
  max-width: 100%;
  width: 100%;
}

.form-control,
.form-select {
  border-radius: 15px;
  padding: 1rem .5rem;
  border-color: rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
  cursor: pointer !important;
}

.steps_container input.invalid {
  background-color: #ffdddd;
}

.steps_container .tab {
  display: none;
}

.steps_container .tab.active {
  opacity: 1;
}

.navbar-brand {
  letter-spacing: 5px;
  font-weight: bolder;
}

.navbar-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  min-height: calc(100vh - 274.88px);
}

.home .title {
  font-size: 50px;
}

.home .search-box {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: .5rem;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .home .search-box {
    width: 100%;
  }
}

.home .search-box .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .home .search-box .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.home .search-box .form .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  width: 100%;
}

.home .search-box .form .control label {
  color: #777;
}

@media screen and (max-width: 750px) {
  .home .search-box .form .btn {
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.login {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 450px) {
  .login {
    width: 100%;
  }
}

footer {
  margin-top: 5rem;
  padding-top: 1rem;
  background-color: #2a2a3b;
  color: white;
}

.show-all-cars .tab {
  width: 100%;
}

.show-all-cars .tab tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-all-cars .tab tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-all-cars .tab td {
  font-size: 15px;
  border: 5px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-all-cars .tab td span {
  font-size: 14px;
  width: 20px;
}

.show-all-cars .car-card {
  position: relative;
  overflow: hidden;
}

.show-all-cars .car-card .explore {
  position: absolute;
  font-weight: bold;
  width: 120px;
  font-size: 20px;
  top: 0;
  left: -120px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

.show-all-cars .car-card:hover {
  background-color: #58585810;
}

.show-all-cars .car-card:hover > .explore {
  left: 0;
}

.contact_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-icon {
  font-size: 15px;
  width: 30px;
}
/*# sourceMappingURL=main.css.map */