{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login pt-5 card mt-5 p-3">
  <h4 class="text-center">Log In</h4>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
    <br>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    <br>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted d-flex align-items-center justify-content-between">
        <p>Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></p>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </small>
  </div>

</div>

{% endblock %}
