<div class="container">
    <div class="row pt-5">
        <div class="col-md-3">
            <a class="navbar-brand" href="/">CARENT</a>
        </div>
        <div class="col-md-3">
            <ul>
              <li>Home</li>
              <li>About</li>
              <li>Contact</li>
              <li>Report</li>
            </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Report</li>
          </ul>
        </div>
        <div class="col-md-3 pb-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
          </div>
        </div>
        <h6 class="text-center text-small">All rights reserved to <a class="navbar-brand" href="/">CARENT</a></h6>
    </div>
      

</div>