<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
          <a class="navbar-brand mr-4" href="#">CarRent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
              aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav me-auto">
                  <a class="nav-item nav-link" href="">Home</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav mb-2 mb-lg-0">
                  {% if user.is_authenticated %}
                  <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                  </div>
                  <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="{% url 'agency_profile' %}">Profile</a>
                  </div>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'agency_register' %}">Register</a>
                  {% endif %}
              </div>
          </div>
      </div>
  </nav>