    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/autorent.svg' %}" alt="brand" style="width: 150px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown notification-section">
                <a href="#" class="notification dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="true">
                  <span><i class='fa fa-bell'></i></span>
                  {% if orders %}
                    <span class="badge" id="notification-badge">*</span>
                  {% endif %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown"
                  data-popper-placement="bottom-end"
                  style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-70px, 42px, 0px);">
                {% if orders %}
                    {% for order in orders %}
                    <li>
                    <tr>
                      <!-- <td><b>Order: </b>{{ order.vehicle.get_title }}</td> -->
                      <td><B>New Order: </B><a href="{% url 'agency_vehicle_details' order.vehicle.id %}">{{ order.vehicle.get_title }}</a></td>
                      <td>
                        {% if order.is_available %}
                          {% if order.vehicle.is_available %}
                            <a class="btn btn-success" href="{% url 'accept_order' order.id %}?return_to=dashboard">Accept</a>
                          {% else %}
                            <span class="text-danger">Car Not available</span>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td><a class="btn btn-outline-primary" href="{% url 'order_detail' order.id %}">More details</a></td>
                    </tr>
                  </li>
                  <hr>
                  {% endfor %}
                {% else %}
                  <li>No Orders</li>
                {% endif %}
                </ul>
              </li>
                {% if request.user.agency %}
                  <li class="nav-item">
                    <a class="nav-link btn" href="{% url 'dashboard' %}">Dashboard</a>
                  </li>
                {% endif %}
                {% if request.user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link btn" href="{% url 'admin-dashboard' %}">Admin</a>
                  </li>
                {% endif %}
                <!-- Example single danger button -->
                <li class="nav-item">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Account
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                      <li><a class="dropdown-item" href="">Settings</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item btn btn-danger" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link btn text-primary opacity-75 " id="manageBookingBtn" href="#">Manage booking</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link btn text-primary opacity-75 border border-primary me-1 ms-1" href="{% url 'agency_register' %}">Become agent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-primary text-white" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
            
          </div>
          </div>
      </nav>
