{% extends 'agency/base.html' %}

<!-- title -->
{% block title %}Dashboard{% endblock %}
<!-- title -->

<!-- content -->
{% block content %}
<section class="p-3 mt-2 mb-2 bg-white shadow-sm rounded" id="orders">
  <header class="d-flex align-items-center justify-content-between mb-2">
    <h3 class="section_title d-flex align-items-center">
      <span class="material-icons-two-tone">content_paste</span>
      Orders
    </h3>
  </header>
  <div class="table-responsive">
        {% if orders %}
          <table class="table table-sm table-bordered border-light">
            <thead class="bg-light text-secondary">
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                  <tr>
                    <td>{{ order.client.get_full_name }}</td>
                    <td>{{ order.vehicle.get_title }}</td>
                    <td>{{ order.get_price }}</td>
                    <td>{{ order.get_full_date }}</td>
                    <td>
                      {% if order.status == 'a' %}
                          <span class="badge bg-light text-info" >{{ order.get_status_display }}</span>
                      {% elif order.status == 'p' %}
                          <span class="badge bg-light text-warning" >{{ order.get_status_display }}</span>
                      {% else %}
                          <span class="badge bg-light text-danger" >{{ order.get_status_display }}</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if order.is_available %}
                        {% if order.vehicle.is_available %}
                          <a class="text-success" href="{% url 'accept_order' order.id %}?return_to=orders">Accept</a>
                        {% else %}
                          <span class="text-danger">Car not available</span>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td><a class="link-secondary" href="{% url 'order_detail' order.id %}">More details</a></td>
                  </tr>
                {% endfor %}
              
            </tbody>
          </table>
          {% else %}
                <p>No orders yet...</p>
            {% endif %}
        </div>
</section>
{% endblock %}
<!-- content -->