{% extends 'base/base.html' %}
{% load static %}
{% block title%}Car Rental{% endblock %}
{% block content%}
<div class="home pt-5">
    <div class="row banner">
      <div class="col-md-6 pt-5">
        <h4 class="title text-black">Car Hire - Search, Compare & Save</h4>
        <p class="description text-black-50">Compare companies at over Algeria. Price Match Guarantee</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/vehicle_roud.svg' %}" alt="banner">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="search row" method="get" action="{% url 'search' %}">
            <div class="control col-md-3">
              <label for="city">Pick-up Location</label>
              <input type="text" id="city" name="city" placeholder="City, airport, destination...">
            </div>
            <div class="control col-md-3">
              <label for="date-start">Pick-up Date</label>
              <input type="date" id="date-start" name="date-start">
            </div>
            <div class="control col-md-3">
              <label for="date-end">Pick-off Date</label>
              <input type="date" id="date-end" name="date-end">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}