{% extends 'base/base.html' %}
{% load static %}
{% block title%}Car Rental{% endblock %}
{% block content%}
<!-- <nav aria-label=" mt-1 mb-1 breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search - {{ city }}</li>
    </ol>
</nav> -->
<div class="home pt-5">
    <section class="section" id="new">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card p-2">
                <h5>Types</h5>
                <ul class="text-secondary">
                    {% for type in types %}
                        <li><a href="#{{ type.id }}">{{type.name}}</a></li>
                    {% endfor %}
                </ul>
                <h5>Energy</h5>
                <ul class="text-secondary">
                    {% for e in energy %}
                        <li><a href="#{{ e.id }}">{{e.name}}</a></li>
                    {% endfor %}
                </ul>
                <h5>Transmission</h5>
                <ul class="text-secondary">
                    {% for t in transmission %}
                        <li><a href="#{{ t.id }}">{{t.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9 mb-3">
            <div class="row">
                <div class="col-md-12 card bg-light mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <small>Pick Up</small>
                            <p>{{ city }} - {{date_start}}</p>
                        </div>
                        <div class="col-md-6">
                            <small>Drop of</small>
                            <p>{{ city }} - {{date_end}}</p>
                        </div>
                    </div>
                    
                </div>
                {% if agencies %}
                    {% for agency in agencies %}
                        <div class="shadow mb-3 rounded-3 d-flex align-items-center justify-content-between">
                            <div class="left m-1">
                                <h5 class="text-primary mb-0">{{ agency.name }}</h5>
                                <p class="text-secondary mb-0"><small>{{agency.get_full_address}}.</small></p>
                            </div>
                            <a class="btn btn-primary" href="{% url 'show_all_cars' agency.id %}">Show all vehicles</a>
                            
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-center">It seems that no car available in "{{ city }}"!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </section>
</div>
{% endblock %}