{% extends 'base/base.html' %}
{% block title %}{{agency.name}}{% endblock %}
{% block content %}
<section class="section">
    <div class="row">
        {% for car in cars %}
            <div class="col-md-3">
                <a href="{% url 'vehicle_details' car.id %}">
                    <div class="shadow mb-3 rounded-3" >
                        <img src="{{ car.thumbnail.image.url }}" class="card-img-top" alt="{{ car.get_title }}">
                        <div class="card-body">
                        <h5 class="card-title">{{car.get_title}}</h5>
                        <p class="text-black-50">By {{ car.owned_by.username }}</p>
                        <span>{{ car.transmission }} | </span>
                        <span>{{ car.doors }} doors | </span>
                        <span>{{ car.seats }} seats</span>
                        <br>
                        <a href="#{{ v.id }}" class="btn btn-primary">Book</a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}