{% extends 'agency/base.html' %}

<!-- title -->
{% block title %}Dashboard{% endblock %}
<!-- title -->

<!-- content -->
{% block content %}

<section class="dashboard">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <div class="card card-styled bg-light-blue mb-3 shadow-sm rounded">
        <span class="material-icons-two-tone icon">visibility</span>
        <div class="text">{{ views_count }} views</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-styled bg-light-green mb-3 shadow-sm rounded">
        <span class="material-icons-two-tone icon">directions_car</span>
        <div class="text">{{ vehicles_count }} vehicles</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-styled bg-light-pink mb-3 shadow-sm rounded">
        <span class="material-icons-two-tone icon">content_paste</span>
        <div class="text">{{ orders_count }} Orders</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-styled bg-light-yellow shadow-sm rounded">
        <span class="material-icons-two-tone icon">people</span>
        <div class="text">{{ clients_count }} Clients</div>
      </div>
    </div>
    
  </div>
</section>
<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="10"></canvas> -->

<section class="p-3 mb-3 bg-white shadow-sm rounded" id="garage">
  <header class="d-flex align-items-center justify-content-between mb-2">
    <h3 class="section_title d-flex align-items-center">
      <span class="material-icons-two-tone">garage</span>
      Garage
    </h3>
    <a href="{% url 'add_vehicle' %}" class="btn btn-primary">Add Vehicle</a>

  </header>
  <div class="table-responsive">
        {% if vehicles %}
          <table class="table table-sm table-bordered border-light">
            <thead class="bg-light text-secondary">
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                <tr>
                    
                      <td>
                        <img src="{{ vehicle.thumbnail.image.url }}" alt="{{ vehicle.get_title }}" style="width: 100px;">
                      </td>
                      <td>{{ vehicle.get_title }}</td>
                      <td>{{ vehicle.type }}</td>
                      <td>{{ vehicle.price }}</td>
                      <td>
                        {% if vehicle.is_available %}
                          <a href="{% url 'change_status_vehicle' vehicle.id %}" title="Click to desable" class="text-success"><span class="material-icons-round">check_circle</span></a>
                        {% else %}
                          <a href="{% url 'change_status_vehicle' vehicle.id %}" title="Click to enable" class="text-danger"><span class="material-icons-round">cancel</span></a>
                        {% endif %}
                      </td>
                      <td><a href="{% url 'agency_vehicle_details' vehicle.id %}">View</a></td>
                      <td><a href="{% url 'vehicle_update' vehicle.id %}">Edit</a></td>
                      <td><a class="text-danger" href="{% url 'vehicle_delete' vehicle.id %}">Delete</td>
                  </tr>
                {% endfor %}
              
            </tbody>
          </table>
          {% else %}
                <p>No vehicles yet...</p>
            {% endif %}
        </div>
</section>

<section class="p-3 mb-3 bg-white shadow-sm rounded" id="orders">
  <header class="d-flex align-items-center justify-content-between mb-2">
    <h3 class="section_title d-flex align-items-center">
      <span class="material-icons-two-tone">content_paste</span>
      Orders
    </h3>
    {% if orders_count > 3 %}
            <a class="btn btn-light text-info" href="{% url 'orders' %}">View all</a>
    {% endif %}
  </header>
  <div class="table-responsive">
        {% if orders %}
          <table class="table table-sm table-bordered border-light">
            <thead class="bg-light text-secondary">
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                  <tr>
                    <td>{{ order.client.get_full_name }}</td>
                    <td>{{ order.vehicle.get_title }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.get_full_date }}</td>
                    <td>
                      {% if order.status == 'a' %}
                          <span class="badge bg-light text-info" >{{ order.get_status_display }}</span>
                      {% elif order.status == 'p' %}
                          <span class="badge bg-light text-warning" >{{ order.get_status_display }}</span>
                      {% else %}
                          <span class="badge bg-light text-danger" >{{ order.get_status_display }}</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if order.is_available %}
                        {% if order.vehicle.is_available %}
                          <a class="text-success" href="{% url 'accept_order' order.id %}?return_to=dashboard">Accept</a>
                        {% else %}
                          <span class="text-danger">Car not available</span>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td><a class="link-secondary" href="{% url 'order_detail' order.id %}">More details</a></td>
                  </tr>
                {% endfor %}
              
            </tbody>
          </table>
          
          {% else %}
                <p>No orders yet...</p>
            {% endif %}
        </div>
</section>

<section class="p-3 mb-3 bg-white shadow-sm rounded" id="clients">
  <header class="d-flex align-items-center justify-content-between mb-2">
    <h3 class="section_title d-flex align-items-center">
      <span class="material-icons-two-tone">people</span>
      Clients
    </h3>
    {% if clients_count > 3 %}
            <a class="btn btn-light text-info" href="{% url 'clients' %}">View all</a>
    {% endif %}
  </header>
  <div class="table-responsive">
    {% if clients %}
      <table class="table table-sm table-bordered border-light">
        <thead class="bg-light text-secondary">
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Mobile</th>
            <th scope="col">Gender - Age</th>
          </tr>
        </thead>
        <tbody>
            {% for client in clients %}
              <tr>
                <td>{{ client.client.get_full_name }}</td>
                <td>{{ client.client.mobile }}</td>
                <td>{{ client.client.get_gender_display }} - {{ client.client.age }} years old</td>
              </tr>
            {% endfor %}
          
        </tbody>
      </table>
      
      {% else %}
          <p>No clients yet...</p>
      {% endif %}
  </div>
</section>

{% endblock %}
<!-- content -->


