{% extends 'agency/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{request.user.username}}'s profile{% endblock %}

{% block content %}
<div id="agency_profile" class="container mt-3 mb-3">
    <div class="row shadow-sm bg-body p-3">
        <div class="col-md-4 mb-3">
            <div class="card-body">
                <div class="image border" style="width: 150px;">
                    <img src="{{ profile.user.image.url }}" alt="{{ profile.name }}" width="150">
                </div>
                <div class="mt-3">
                    <h4>@{{ user.username }}</h4>
                    <p class="text-secondary mb-1">{{ profile.bio }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <label>State *</label>
                    <select name="wilaya" hx-get="{% url 'commune_field'%}" hx-target="#commune-select" class="form-select" aria-label="Default select example">
                        <option value="{{ profile.wilaya.id }}" selected>{{profile.wilaya.name}}</option>
                        {% for w in wilayas %}
                            <option value="{{w.id}}">{{ w.name }}</option>
                        {% endfor %}.
                    </select>
                    {% include 'location/partials/commune_field.html'%}
                </fieldset>
        
                <div class="form-group mt-3 d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <a class="btn btn-outline-secondary" href="{% url 'agency_profile' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
